<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <title>Company Sign Up</title>
  </head>
  <body>
    <div class="login">
      <h1>Sign Up</h1>
      <form method="post" action="{{ url_for('signup_submit') }}">
        <input
          type="text"
          name="cname"
          placeholder="Company name"
          required="required"
        />
        <input
          type="text"
          name="u"
          placeholder="Username"
          required="required"
        />
        <input
          type="text"
          name="email"
          placeholder="Email"
          required="required"
        />
        <input
          type="password"
          name="p"
          placeholder="Password"
          required="required"
        />
        <button type="submit" class="btn btn-primary btn-block btn-large">
          Sign up
        </button>
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>
    </div>
  </body>
</html>
