<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total value spent per user</title>
</head>
<body>
    <table border = "1">
        <tr>
            <td>User ID</td>
            <td>Name</td>
            <td>Total Value Spent</td>
        </tr>
        {% for row in data %}

        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>