<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Payment Successful</h1>
            <p class="lead">Hey, your payment worked, your order is placed, thanks!</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go back to home</a>
        </div>
    </div>
</body>
</html>
